app-title-text
{
font-family:Happy Monkey;
font-size: 36px;
font-weight:400;
font-color:#4A4A4A;
}

top-banner-card
{
color:#CBCBCB;
height:90px;
}

app-menu-text
{
font-family:Happy Monkey;
font-size: 16px;
font-weight:400;
font-color:#000000;
}