body {
}
header-app-text {
    font-family:Happy Monkey, serif;
    font-size:36px;
    font-weight:400;
    color:#4A4A4A;
    font-style:normal;
}
top-banner-nav-text {
    font-family: Happy Monkey, serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    font-style: normal;
}